- @page_title = t('shoppe.gifts.gifts')

= content_for :header do
  %p.buttons= link_to t('shoppe.gifts.back'), :subscriber_gifts, :class => 'button'
  %h2.delivery_services= t('shoppe.gifts.gifts')
= render 'form'
